html {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .row {
    display: table-row;
    height: 25%;
    background-color: #FFF;
    text-align: center;
  }
  
  .h1 {
    font-size: 54px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    padding-top: 100px;
  }

  .view-container {
    padding: 25px 0px 0px 25px;
  }
